/* ----------------------- */
/* SIDEBAR */

.sidebar {
  z-index: 1;
  position: fixed;
  width: 400px;
  right: -400px;
  height: 100%;
  background-color: var(--alternative-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  transition: right 0.7s ease-in-out;
}

.sidebar.active {
  right: 0;
}

.sidebar .artwork {
  width: 250px;
  height: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.sidebar-info {
  width: 80%;
  color: #FFF;
  font-size: 20px;
  margin-top: 30px;
  max-height: 423px;
  overflow: scroll;
}

.sidebar-info div {
  padding: 10px;
  border-top: 1px solid #626262;
}

.sidebar-info strong {
  font-weight: 500;
  color: var(--primary-color);
  font-size: 20px;
}

.sidebar a {
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 24px;
  bottom: 0;
}

/* ----------------------- */
/* CATALOG */

.catalog {
  height: calc(100vh - 215px);
  overflow: scroll;
  background-color: var(--alternative-dark);
}

.resource-card {
  padding: 10px;
  background-color: var(--primary-color);
  margin: 15px;
  cursor: pointer;
  width: 15.4rem;
  height: fit-content;
}

.resource-card__artwork {
  width: 227px;
  height: 340px;
  background-size: cover;
  background-position: center;
}

.resource-card__title {
  width: 227px;
  color: #FFF;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.resource-card:hover .resource-card__title {
  white-space: normal;
}


.sidebar-dropdown {
  display: none;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
