<div class="resource-card" data-id="{%BOOKID%}"
                           data-title="{%TITLE%}"
                           data-year="{%YEAR%}"
                           data-language="{%LANGUAGE%}"
                           data-author="{%AUTHOR%}"
                           data-editorial="{%EDITORIAL%}"
                           data-genres="{%GENRE%}">
    <div class="resource-card__artwork" style="background-image: url('/books/artworks/{%IMAGE%}.jpg')"></div>
    <h4 class="resource-card__title">{%TITLE%}</h4>
    <h5>{%YEAR%}</h5>
</div>
