<div class="resource-card" data-id="{%SONGID%}" 
                           data-title="{%TITLE%}"
                           data-year="{%YEAR%}"
                           data-album="{%ALBUM%}"
                           data-recordlabel="{%RECORD-LABEL%}"
                           data-genres="{%GENRE%}"
                           data-artist="{%ARTIST%}">
    <img src="/music/artworks/{%IMAGE%}.jpg" alt="">
    <h4 class="resource-card__title">{%TITLE%}</h4>
    <h5 class="resource-card__artist">{%ARTIST%}</h5>
    <h5>{%YEAR%}</h5>
</div>  